* 
{
	font-family: 'Open Sans', sans-serif;
	background-color: #F5F5DC;
}

h2, td, th, header, footer
{
	text-align: center;
	vertical-align: center;
}

td, th
{
	padding: 0;
	margin: 0;
}

h2
{
	padding-top: 2em;
}

header
{
	border: solid 1px black;
}

footer
{
	padding-top: 5%;
}

.borrar
{
	background-color: #ffc09f;
}

.guardar
{
	background-color: #adf7b6;
}

.separadorArriba
{
	margin-top: 2em;
}

article
{
	margin: 0;
	padding: 0;
}

*
{
	background-color: #F5F5DC;
}