* 
{
	font-family: 'Open Sans', sans-serif;
	background-color: #F5F5DC;
}

.center, header, footer, .header
{
	text-align: center;
	vertical-align: center;
}

.login, .footer
{
	padding-top: 2em;
}

.margenedTop
{
	margin-top: 16px;
}

.separadorArriba
{
	margin-top: 2em;
}

.borrar
{
	background-color: #ffc09f;
}

.guardar
{
	background-color: #adf7b6;
}

input:focus
{
	background-color: white;
}

article
{
	margin: 0;
	padding: 0;
}

*
{
	background-color: #F5F5DC;
}